.DS_Store
.npmignore
.gitignore
.editorconfig
.eslintrc.js
.prettierrc
.browserslistrc

node_modules/
test/
docs/
dist/
example/
src/

npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
*.test.js
.travis.yml
tsconfig.json
babel.config.js
rollup.config.js